@page
@model SmartCafe_Web.Pages.Ingredients.EditIngredientModel
@{
}
<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Edit Ingredient</label>
    </div>

</div>
<form method="post">
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="CurrentIngredient.IngredientName" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="CurrentIngredient.IngredientName" type="text" class="form-control" />
            <span asp-validation-for="CurrentIngredient.IngredientName" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Edit Ingredient</button>
        </div>
    </div>
</form>