@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <div class="row justify-content-start">
        <!-- comment out the displaying all the items on the home page
        @foreach (var menuItem in Model.ItemDisplays)
        {
            <div class="col-4">
                <a asp-page="/MenuItems/ViewItems" asp-route-id="@menuItem.MenuItemID">
                    <img class="cover-image" src="@menuItem.ItemImage" title="@menuItem.ItemName" />
                </a>
            </div>
        }
        -->
        

    </div>
</div>
