@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-background">
    <div class="welcome-box text-center">
        <h2>Welcome to SmartCafé</h2>
        <p>Where every sip feels like home.</p>
    </div>
</div>



    <div class="container py-0">
        <div class="text-center">
            <div class="row justify-content-start">
                <!-- Commented out for now:
                @foreach (var menuItem in Model.ItemDisplays)
                {
                        <div class="col-4">
                            <a asp-page="/MenuItems/ViewItems" asp-route-id="@menuItem.MenuItemID">
                                <img class="cover-image" src="@menuItem.ItemImage" title="@menuItem.ItemName" />
                            </a>
                        </div>
                }
                -->
                <!-- Optional Slideshow (also commented out)
                <div class="slideshow-container">
                    <div class="slide fade">
                        <img src="~/images/Chunk-Cookies.jpg" alt="Chunk Cookies">
                    </div>
                    <div class="slide fade">
                        <img src="~/images/Croissants.jpg" alt="Croissants">
                    </div>
                    <div class="slide fade">
                        <img src="~/images/HotCoffee.jpg" alt="Hot Coffee">
                    </div>
                    <div class="slide fade">
                        <img src="~/images/iced-caramel-latte.jpg" alt="Iced Caramel Latte">
                    </div>
                    <div class="slide fade">
                        <img src="~/images/IcedCoffee.jpg" alt="Iced Coffee">
                    </div>
                    <div class="slide fade">
                        <img src="~/images/Kolache.jpg" alt="Delicious Kolache">
                    </div>
                    <div class="slide fade">
                        <img src="~/images/Muffin.jpg" alt="Muffin">
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
