@page
@model SmartCafe_Web.Pages.MenuItems.AddMenuItemModel
@{
}
<!-- Test Comment -->
<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Add Item</label>
    </div>

</div>
<form method="post">
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewItem.ItemName" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewItem.ItemName" type="text" class="form-control" />
            <span asp-validation-for="NewItem.ItemName" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewItem.ItemImage" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewItem.ItemImage" type="text" class="form-control" />
            <span asp-validation-for="NewItem.ItemImage" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewItem.Price" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewItem.Price" type="text" class="form-control" />
            <span asp-validation-for="NewItem.Price" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewItem.ItemTypeID" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewItem.ItemTypeID" type="text" class="form-control" />
            <span asp-validation-for="NewItem.ItemTypeID" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label class="form-label">Ingredients</label>
        </div>
        <div class="col-12">
            @foreach (var n in Model.Ingredients)
            {
                <input type="checkbox" value="@n.IngredientID" class="form-check-input" name="SelectedMenuItemIngredientsIDs" checked="@n.IsSelected" />
                <label class="form-label">@n.IngredientName</label>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 20 20">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
                Add Item
            </button>
        </div>
    </div>
</form>
