@page
@model SmartCafe_Web.Pages.MenuItems.EditMenuItemModel
@{
    Layout = "_Layout-Authenticated";
}
<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Edit Item</label>
    </div>

</div>
<form method="post">
    <!-- Need the following line, or MenuItemID will be 0, and wont be able to edit item, wont work properly. -->
    <input type="hidden" asp-for="CurrentItem.MenuItemID" />
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="CurrentItem.ItemName" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="CurrentItem.ItemName" type="text" class="form-control" />
            <span asp-validation-for="CurrentItem.ItemName" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="CurrentItem.ItemImage" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="CurrentItem.ItemImage" type="text" class="form-control" />
            <span asp-validation-for="CurrentItem.ItemImage" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="CurrentItem.Price" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="CurrentItem.Price" type="text" class="form-control" />
            <span asp-validation-for="CurrentItem.Price" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="CurrentItem.ItemTypeID" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="CurrentItem.ItemTypeID" type="text" class="form-control" />
            <span asp-validation-for="CurrentItem.ItemTypeID" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label class="form-label">Ingredients</label>
        </div>
        <div class="col-12">
            @foreach (var n in Model.Ingredients)
            {
                <input type="checkbox" value="@n.IngredientID" class="form-check-input" name="SelectedMenuItemIngredientsIDs" checked="@n.IsSelected" />
                <label class="form-label">@n.IngredientName</label>
            }
        </div>
    </div>





    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Edit Item</button>
        </div>
    </div>
</form>